<header class="p-2 border-bottom">
  <div class="container" id="header-container">
    <div
      class="header d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <img
        class="header-logo"
        src="../../../assets/header-cerebro.png"
        alt="ilustração de um cerebro"
      />
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
      >
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="#" class="nav-link px-2 link-secondary">História*</a></li>
        <li>
          <a href="#" class="nav-link px-2 link-dark">Recursos terapêuticos</a>
        </li>
        <li><a href="#" class="nav-link px-2 link-dark">RPD</a></li>
        <li>
          <a href="#" class="nav-link px-2 link-dark">Registro das emoções</a>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Busque..."
          aria-label="Search"
        />
      </form>

      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="../../../assets/avatar.webp"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#">
              <img src="../../../assets/logout-svg.svg" alt="logout svg" /> Sign
              out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<section id="psicomoon-cover">
  <h1>Psicoleigos</h1>
  <h2>Recursos terapêuticos</h2>
</section>

<section id="boxes">
  <div class="column">
    <div class="circle">
      <img src="../../../assets/pencil-icon.svg" alt="pencil icon" />
    </div>
    <h3>Coisa</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ut
      voluptatum maiores praesentium sequi porro officiis cupiditate laborum
      beatae perferendis ipsum modi nisi, quibusdam nulla suscipit? Laboriosam
      labore accusantium totam!
    </p>
    <button class="bubbly-button">Botão</button>
  </div>

  <div class="column">
    <div class="circle">
      <img src="../../../assets/pencil-icon.svg" alt="pencil icon" />
    </div>
    <h3>Coisa</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ut
      voluptatum maiores praesentium sequi porro officiis cupiditate laborum
      beatae perferendis ipsum modi nisi, quibusdam nulla suscipit? Laboriosam
      labore accusantium totam!
    </p>
    <button class="bubbly-button">Botão</button>
  </div>

  <div class="column">
    <div class="circle">
      <img src="../../../assets/pencil-icon.svg" alt="pencil icon" />
    </div>
    <h3>Coisa</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ut
      voluptatum maiores praesentium sequi porro officiis cupiditate laborum
      beatae perferendis ipsum modi nisi, quibusdam nulla suscipit? Laboriosam
      labore accusantium totam!
    </p>
    <button class="bubbly-button">botão</button>
  </div>
</section>

<section id="block">
  <img src="../../../assets/banner-recurso-2.jpg" alt="" />
  <div class="inside-block">
    <h3>coisa</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
      doloremque voluptas quae suscipit consequatur officiis dignissimos enim
      incidunt cupiditate. Modi quo mollitia nulla consequatur enim aperiam
      dolores aliquid consequuntur libero!
    </p>
  </div>
</section>

<section id="reverse-block">
  <img src="../../../assets/banner-recurso-2.jpg" alt="" />
  <div class="inside-block">
    <h3>coisa</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
      doloremque voluptas quae suscipit consequatur officiis dignissimos enim
      incidunt cupiditate. Modi quo mollitia nulla consequatur enim aperiam
      dolores aliquid consequuntur libero!
    </p>
  </div>
</section>

<section id="block">
  <img src="../../../assets/banner-recurso-2.jpg" alt="" />
  <div class="inside-block">
    <h3>coisa</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
      doloremque voluptas quae suscipit consequatur officiis dignissimos enim
      incidunt cupiditate. Modi quo mollitia nulla consequatur enim aperiam
      dolores aliquid consequuntur libero!
    </p>
  </div>
</section>

<footer>
  <div class="links">
    <div class="column">
      <h4>Psicoleigos</h4>
      <a href="#">CRP</a>
      <a href="#">Atividades</a>
      <a href="#">Produtos</a>
      <a href="#">Artigos</a>
    </div>

    <div class="column">
      <h4>Contato</h4>
      <a href="">Email</a>
      <a href="">Telefone</a>
      <a href="">Whatsapp</a>
    </div>

    <div class="column">
      <h4>Redes Sociais</h4>
      <a href="">Instagram</a>
      <a href="">Facebook</a>
      <a href="">Linkedin</a>
      <a href="">Twitter</a>
    </div>
  </div>
  <img src="../../../assets/header-cerebro.png" alt="" />
</footer>
