.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  app-rpd-form {
    margin: 1rem 2rem 0 0;
  }
  .canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    label {
      margin-bottom: 1rem;
    }
  }
}
