<app-nav-bar></app-nav-bar>

<div class="content">
  <div class="canvas">
    <label *ngIf="chartData" for="canvas">controle emocional semanal</label>
    <canvas
      *ngIf="chartData"
      baseChart
      [datasets]="chartData.datasets"
      [labels]="chartData.labels"
      [legend]="chartLegend"
      [options]="chartOptions"
      [type]="'polarArea'"
    >
    </canvas>
    <app-spinner *ngIf="!chartData"></app-spinner>
  </div>
  <app-rpd-form #appRpdForm (postRpdEvent)="onSubmit($event)"> </app-rpd-form>
</div>
